.dropdown{
    position: relative;
    display: inline-block;
}.drpbtn{
    background-color: red;
    display: block;
    border: none;
    padding: 20px;

}
.dropdown-content{
    display: none;
}
.dropdown-content a{
    display: block;
}